/* Small Size Phone Responsive Code: Start */
@media (min-width: 320px) and (max-width: 480px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    margin: 0 0 0 10px;
  }
  .header .menu .navbar-light .navbar-nav .nav-link {
    font-size: 11px;
    line-height: 22px;
    padding: 5px 0 0;
    margin: 0;
  }
  .who-we {
    padding: 40px 0;
  }
  .inner {
    margin: 0px 40px 0;
  }
  .who-we .inner h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .who-we .inner p {
    font-size: 12px;
    line-height: 22px;
  }
  .lan {
    padding: 20px 0 40px 40px;
  }
  .lan .title {
    padding-bottom: 20px;
  }
  .lan .title h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .lan .content h4 {
    font-size: 22px;
    line-height: 32px;
    margin: 20px 0 0;
  }
  .lan .content p {
    font-size: 12px;
    line-height: 22px;
  }
  .lan .content a {
    font-size: 14px;
    line-height: 24px;
  }
}
/* Small Size Phone Responsive Code: End*/

/* Phone & Tablet Responsive Code: Start */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    margin: 0 0 0 15px;
  }
  .header .menu .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding: 5px 0 0;
    margin: 0;
  }
  .who-we {
    padding: 40px 0;
  }
  .inner {
    margin: 0px 40px 0;
  }
  .who-we .inner h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .who-we .inner p {
    font-size: 14px;
    line-height: 24spx;
  }
  .lan {
    padding: 20px 0 40px 40px;
  }
  .lan .title {
    padding-bottom: 20px;
  }
  .lan .title h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .lan .content h4 {
    font-size: 24px;
    line-height: 34px;
    margin: 20px 0 0;
  }
  .lan .content p {
    font-size: 14px;
    line-height: 22px;
    margin-right: 30px;
  }
  .lan .content a {
    font-size: 16px;
    line-height: 26px;
  }
}
/*Phone & Tablet Responsive Code: Start */

/*Tablet Responsive Code: Start */
@media (min-width: 768px) and (max-width: 1024px) {
  .header .menu .navbar-light .navbar-nav .nav-link {
    margin: 0;
  }
  .slider .carousel-item h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .slider h1 {
    margin-bottom: -0.5rem;
  }
  .who-we {
    padding: 40px 0;
  }
  .who-we .inner p {
    margin: 0px 22px 40px 0px;
  }
  .who-we img {
    padding: 0 0 0 54px;
  }
  .lan {
    padding: 40px;
  }
  .lan .content h4 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .lan .content p {
    font-size: 13px;
    line-height: 23px;
  }
  element {
  }
  .lan .content a:hover {
    color: #28377e;
  }
  .lan .content a {
    font-size: 14px;
    line-height: 24px;
  }
  .footer p {
    font-size: 16px;
    line-height: 26px;
  }
}
/*Tablet Responsive Code: Start */
